<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
    <script type="text/javascript" src="../js/vue.js"></script>
</head>
<body>
    <div id="root">
        <h2>列表排序</h2>
        <input type="text" placeholder="请输入名字"  v-model="search">
        <button @click="sortType = 1">年龄升序</button>
        <button @click="sortType = 2">年龄降序</button>
        <button @click="sortType = 0">原顺序</button>
        <ul>
            <li v-for="(item,index) in newPersons" :key="item.id">
                {{item.name}} - {{item.age}} - {{item.sex}}
            </li>
        </ul>
    </div>

    <script>
        Vue.config.productionTip = false;


        
        // 用watch实现
        //#region 
        // vscode折叠用
        // var vm = new Vue({
        //     el:'#root',  
        //     data:{
        //         search: '',
        //         persons:[
        //             {id:1,name:'马冬梅',age:19,sex:'女'},
        //             {id:2,name:'周冬雨',age:20,sex:'女'},
        //             {id:3,name:'周杰伦',age:21,sex:'男'},
        //             {id:4,name:'温兆伦',age:22,sex:'男'}
        //         ],
        //         newPersons:[]
        //     },
        //     watch:{
        //         search:{
        //             immediate:true,
        //             handler(newValue){
        //                 this.newPersons = this.persons.filter((p)=>{
        //                     return p.name.indexOf(newValue) !== -1
        //                 })
        //             }
        //         }
        //     }
        // })
        //#endregion
    
        // 用计算属性实现
        var vm = new Vue({
            el:'#root',  
            data:{
                search: '',
                persons:[
                    {id:1,name:'马冬梅',age:30,sex:'女'},
                    {id:2,name:'周冬雨',age:23,sex:'女'},
                    {id:3,name:'周杰伦',age:21,sex:'男'},
                    {id:4,name:'温兆伦',age:22,sex:'男'}
                ],
                sortType: 0
            },
            computed:{
                newPersons(){
                    const arr = this.persons.filter((p)=>{
                        return p.name.indexOf(this.search) !== -1
                    })
                    if (this.sortType) {
                        arr.sort((a,b)=>{
                            return this.sortType === 1 ? a.age-b.age : b.age-a.age
                        })
                    }
                    return arr
                }
            }
        })
    </script>
</body>
</html>